src/main/java/vcs_store.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by ﻿CVS (CVS Caremark Corporation) -->
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:tns="http://www.cvscaremark.com/retail/mdm/entities/1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.cvscaremark.com/retail/mdm/entities/1_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>This is the PIM Store XML schema.  This XML file is created by reading several views in the CVS_PIM DB schema in the ssop1 database.
	  This file contains stores with Open status and facility code in Rx or TGT 
	   </xs:documentation>
	</xs:annotation>
	<xs:element name="STORES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:STORE" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STORE">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:STR_NBR" minOccurs="1"/>
				<xs:element ref="tns:STAT_CD" minOccurs="0"/>
				<xs:element ref="tns:STAT_DSC" minOccurs="0"/>
				<xs:element ref="tns:STREET_ADDR1" minOccurs="0"/>
				<xs:element ref="tns:CITY_NAME" minOccurs="0"/>
				<xs:element ref="tns:STATE_CD" minOccurs="0"/>
				<xs:element ref="tns:ZIP_CD" minOccurs="0"/>
				<xs:element ref="tns:COUNTY_CD" minOccurs="0"/>
				<xs:element ref="tns:COUNTY_CD_DSC" minOccurs="0"/>
				<xs:element ref="tns:OPCO_DSC" minOccurs="0"/>
				<xs:element ref="tns:BUS_SEGMENT" minOccurs="0"/>
				<xs:element ref="tns:FACILITY_TYP_CD" minOccurs="0"/>
				<xs:element ref="tns:FACILITY_TYP_DSC" minOccurs="0"/>
				<xs:element ref="tns:DIV_NAME" minOccurs="0"/>
				<xs:element ref="tns:FS_AREA_NBR" minOccurs="0"/>
				<xs:element ref="tns:FS_REGION_NBR" minOccurs="0"/>
				<xs:element ref="tns:FS_DISTRICT_NBR" minOccurs="0"/>
				<xs:element ref="tns:RX_AREA_NBR" minOccurs="0"/>
				<xs:element ref="tns:RX_REGION_NBR" minOccurs="0"/>
				<xs:element ref="tns:RX_DISTRICT_NBR" minOccurs="0"/>
				<xs:element ref="tns:LATITUDE" minOccurs="0"/>
				<xs:element ref="tns:LONGITUDE" minOccurs="0"/>
				<xs:element ref="tns:RX_PHONE_NBR" minOccurs="0"/>
				<xs:element ref="tns:DSTR_MGR_FNME" minOccurs="0"/>
				<xs:element ref="tns:DSTR_MGR_LNME" minOccurs="0"/>
				<xs:element ref="tns:DSTR_MGR_PHONE_NBR" minOccurs="0"/>
				<xs:element ref="tns:DSTR_MGR_EMAIL" minOccurs="0"/>
				<xs:element ref="tns:DIV_CD" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="STR_NBR" type="xs:string"/>
	<xs:element name="ABBRV_NAME" type="xs:string"/>
	<xs:element name="STAT_CD" type="xs:int"/>
	<xs:element name="STAT_DSC" type="xs:string"/>
	<xs:element name="STREET_ADDR1" type="xs:string"/>
	<xs:element name="CITY_NAME" type="xs:string"/>
	<xs:element name="STATE_CD" type="xs:string"/>
	<xs:element name="ZIP_CD" type="xs:string"/>
	<xs:element name="COUNTY_CD" type="xs:string"/>
	<xs:element name="COUNTY_CD_DSC" type="xs:string"/>
	<xs:element name="OPCO_DSC" type="xs:string"/>
	<xs:element name="BUS_SEGMENT" type="xs:string"/>
	<xs:element name="FACILITY_TYP_CD" type="xs:string"/>
	<xs:element name="FACILITY_TYP_DSC" type="xs:string"/>
	<xs:element name="DIV_NAME" type="xs:string"/>
	<xs:element name="FS_AREA_NBR" type="xs:string"/>
	<xs:element name="FS_REGION_NBR" type="xs:string"/>
	<xs:element name="FS_DISTRICT_NBR" type="xs:string"/>
	<xs:element name="RX_AREA_NBR" type="xs:string"/>
	<xs:element name="RX_REGION_NBR" type="xs:string"/>
	<xs:element name="RX_DISTRICT_NBR" type="xs:string"/>
	<xs:element name="LATITUDE" type="xs:string"/>
	<xs:element name="LONGITUDE" type="xs:string"/>
	<xs:element name="RX_PHONE_NBR" type="xs:string"/>
	<xs:element name="DSTR_MGR_FNME" type="xs:string"/>
	<xs:element name="DSTR_MGR_LNME" type="xs:string"/>
	<xs:element name="DSTR_MGR_EMAIL" type="xs:string"/>
	<xs:element name="DSTR_MGR_PHONE_NBR" type="xs:string"/>
	<xs:element name="DIV_CD" type="xs:string"/>
</xs:schema>
